.monthYearButtonStyles {
    background-color: transparent;
    border: 0;
    font-size: 24px;
}

.monthButtonStyles {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    outline: none;
    height: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonStyles {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    outline: none;
    font-size: 24px;
    height: 40px;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customHeaderStyles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 4px;
}
