.draggable-container {
  width: 100px;
  height: 500px;
  /* Set the desired height for the container */
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
}

.row {
  position: absolute;
  width: 100%;
  border: 1px solid #000;
}

.draggable {
  position: absolute;
  background-color: #f0f0f0;
  opacity: 0.5;
  border: 1px solid #000;
  cursor: move;
  user-select: none;
  z-index: 1;
  width: 100px;
  text-align: center;
  height: calc(100% / var(--dynamic-rows));
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  cursor: ns-resize;
}